body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  background-color: rgb(57, 65, 71);
  color: white;
  scroll-behavior: smooth;
  overflow-x:hidden;
}

code {
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
ul li{
  list-style-type: none;
}

nav{
  display: grid;
  max-width: 100%;
  margin: 0px 0px;
  grid-template-columns: repeat(12,1fr);
  gap: 40px ;
  align-content: flex-start;
  /* background-image: url("https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover; */
  background-repeat: no-repeat;
  background-attachment: scroll;
  justify-content: center;
  background-position: left center;
  background-color: aliceblue;



  background-color: rgba(1, 1,1, 0.3);
  background-blend-mode: darken;

  
}
nav{
  min-height:600px;
}
nav > ul {
      grid-column: 4 / span 8 ;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      justify-self: end;
      gap: 30px;
      justify-content: center;

      margin :30px 20px;
      justify-content: center;
      position:fixed;
      top:0px;
     align-content: center;
}
ul li{
  text-align: center;
  color:white;
  font-weight: 500;
  font-size: 1.2em;
}

nav > header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-content: center;
  margin :25px 40px;
  color:white;
  position:fixed;
  top:0px;
} 

nav header > h2{
  grid-column: span 7;
  margin-left: 10px;
  font-weight: 900;
  /* align-self: center; */
  align-self: center;
}
header > h3{
      text-align: center;
      align-self: center;
   
}

header > span{
  align-self: center;
}
main{
  display: grid;
  max-width: 1400px;
  margin: 20px auto;
  display: grid;
  gap: 20px ;
  grid-template-columns: repeat(12,1fr);
}
.wear{
  grid-column: 1 / span 4;
}
.wear p{
  
  font-size: 6.5em;
  text-transform: uppercase;
  position: relative;
  top: -200px;
  left: 100px;
  font-weight: 800;
  color: white;

}
.content{
  grid-column: span 3;
}
.content p{
      font-size: 1.5em;
      color: gray;
      font-weight: 500;
     
}
panel{
  position: relative;
  top: -100px;
  grid-column: 8 / span 4;
  justify-content: flex-end;
}
panel > div:first-child , panel > div:nth-child(2) {
  display: flex;
  background-color: rgb(9, 58, 41);
  font-size: 1.5em;



  color: white;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;

}


panel div:nth-child(2){
  background-color: rgb(0, 0, 0);
}

section{
  display: grid;
  max-width: 1400px;
  margin: 20px auto;
  display: grid;

  grid-template-columns: repeat(12,1fr);
  justify-content: center;
  grid-auto-rows: 300px ;
  gap: 20px;

}

section div > img{
  max-width: 100%;
  min-height: 100%;




  
}

section div:first-child{

      grid-column: 2 / span 6;
}

section div{
  grid-column: span 4;
}
.tall , .short > h1{
  /* font-size: 2em; */
}

.tall {
  grid-row: span 2;
  row-gap: 20px;
  overflow: hidden;
}

.short{
  grid-row: span 1;
  overflow: hidden;
}

.box{
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    height: 12px;
}

@media only screen and (max-width: 1060px) {
  .sym{
    display: none;
  }

 main{
  max-width: 660px;
 }

 .wear{
  grid-column:span 6;
 }
  .content{
    grid-column:span 6;
  }

  panel{

    grid-column: span 12;

  }
 
  section{
              max-width: 900px;
  }
  .tall {
    grid-row: span 1;
    row-gap: 20px;
    overflow: hidden;
  }

  .short{
    grid-row: span 1; 
    overflow: hidden;
  }


  section div:nth-child(3){
    grid-column: 2 /  span 10;
  }


  .box{
     max-width: 100%;

      background-color: white;
}


}

@media only screen and (max-width: 660px) {

  .tab{
    display: none;
}
.sym{

}

  main{
    max-width: 400px;
  gap: 20px ;
   }
  
   .wear{
    /* display: none; */
   }
    .content{
      margin-top:25px;
      grid-column:span 12;
    }
  
    panel{
  
      grid-column: span 12;
      margin-top:215px;
  
    }

    panel > div{
      margin-top:25px;
    }
    .wear p{


      top: -400px;
      left: 65px;
  

    
    }
  section{
              max-width: 250px;
  }
  .tall {
    grid-row: span 1;
    row-gap: 20px;
    overflow: hidden;
  }

  .short{
    grid-row: span 1; 
    overflow: hidden;
  }
  section div:first-child{
    grid-column: 2 /  span 10;
  }
  section div{
    grid-column: 2 /  span 10;
  }

  section div:nth-child(3){
    grid-column: 2 /  span 10;
  }


  .box{
     max-width: 100%;

      background-color: white;
}

section div > h1 {
  text-align: center;
}


}


.tab div{
    margin: 15px 25px;

    border-radius: 10px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 1.1em;
    font-weight: 600;
    /* border: 1px solid white; */
    color: white;
    flex-wrap: wrap;
}

.tab > div:first-child{
   background-color: rgb(57, 65, 71);
    border: 1px solid white;
}




@media only screen and (max-width: 480px) {
  
  .tab{
    display: none;
}
  main{
    max-width: 350px;
  }

  body{
    font-size: 15px;
    overflow-x: hidden;

  }
  main{
    font-size: 15px;
  }

  .card-body{
    font-size: 10px;
  }
  .card-body > h2{
    font-size: 20px;
  }

  .tab{
      max-width: 400px;
      margin: 0px;
      display: none;

  }

  .tab > button{
    justify-self: stretch;
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  /* .btn{
    font-size: 5px;
    text-align: center;
  } */
}